.weather-header {
    background-image: linear-gradient(to right, #3463bc, #200a4c) !important;
}

#today {
    border: none;
    padding: 10px;
}

.weather-search {
    width: 100%;
}

.search-button {
    width: 100%;
}

#forecast-header {
    display: none;
}
